<!DOCTYPE HTML>

<html>

    <head>
        <link rel="stylesheet" href="../../public/css/relove-style.css">
    </head>

    <body>
        <div class="text-content">
            <h1 id="mainHead">THis is my Hello World App</h1>

            <form>
                <input placeholder="message" type="text">
                <button>Submit</button>
            </form>
            
            <p id="p1"></p>

        </div>

        <script src='/js/front-app.js'></script>

    </body>
</html>